*,
html,
body{
    margin: 0;
    padding: 0;
    
        font-family: "Protest Strike", sans-serif;
        font-weight: 200;
        font-style: normal;
      
      
}


:root {

--bg-primary: rgb(85, 153, 222);
--bg-secondary: rgb(255, 255, 255);
--text-primary: rgb(255, 255, 255);
--text-secondary: rgb(9, 8, 8);
--icons-bg-primary: rgb(0, 0, 0);
--icons-bg-secondary: rgb(255, 255, 255);

}

.container {
width: 100%;
height: 100%;
min-height: auto;
background-color: var(--bg-primary);
}

.wrapper{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}

.card {
width: 60%;
border: 1px solid white;
background-color: var(--bg-secondary);
color: var(--text-secondary);
padding: 32px;
margin: 8px;
box-shadow: 2px 2px 2px 2px rgba(0,0,0.5);
}
.text-center {
    text-align: center;
}

.icons {
    font-size: 20px;
    color: var(--icons-bg-primary);
}

.tittle {
    margin-top: 8px;
    font-size: 24px;
} 

.description{
    margin-top: 8px;
    font-size: .9em;
}

.btn{
margin-top: 16px;
padding: 8px;
cursor: pointer;
border: none;
width: 100%;
}

.btn:hover{
background-color: var(--bg-primary);
color: var(--text-primary);
}

@media screen and(max-width: 100px) {
.card{
    width: 95%;
}
.description{
    font-size: 1em;
}
}
